.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rhistory
.Rhistory
.Rproj.user/shared/notebooks/29423783-handout/1/s/chunks.json
.Rproj.user/shared/notebooks/29423783-handout/1/s/csetup_chunk/000006.csv
.Rproj.user/shared/notebooks/553BAB10-regression r notebook/1/B96C75112BAE628C/chunks.json
.Rproj.user/shared/notebooks/553BAB10-regression r notebook/1/B96C75114BB055AD/chunks.json
.Rproj.user/shared/notebooks/553BAB10-regression r notebook/1/B96C751177BC4ADD/chunks.json
.Rproj.user/shared/notebooks/553BAB10-regression r notebook/1/B96C751197893BF5/chunks.json
.Rproj.user/shared/notebooks/553BAB10-regression r notebook/1/B96C7511A5AD72FB/chunks.json
.Rproj.user/shared/notebooks/553BAB10-regression r notebook/1/B96C7511DDEDA107/chunks.json
.Rproj.user/shared/notebooks/553BAB10-regression r notebook/1/s/c0au7rxvfzvk1/000002.csv
.Rproj.user/shared/notebooks/553BAB10-regression r notebook/1/s/c0btysxaq1au5/000002.csv
.Rproj.user/shared/notebooks/553BAB10-regression r notebook/1/s/c2lzhsd5d3978/000002.csv
.Rproj.user/shared/notebooks/553BAB10-regression r notebook/1/s/caeumfhahjm53/000002.csv
.Rproj.user/shared/notebooks/553BAB10-regression r notebook/1/s/cawxpk5gyo41b/000002.csv
.Rproj.user/shared/notebooks/553BAB10-regression r notebook/1/s/cayw3251m84k3/000002.csv
.Rproj.user/shared/notebooks/553BAB10-regression r notebook/1/s/cf0o1gfxjyqzc/000002.csv
.Rproj.user/shared/notebooks/553BAB10-regression r notebook/1/s/chunks.json
.Rproj.user/shared/notebooks/553BAB10-regression r notebook/1/s/ckhia7fzihx5c/000002.csv
.Rproj.user/shared/notebooks/553BAB10-regression r notebook/1/s/cnbwdtoeafspt/000002.csv
.Rproj.user/shared/notebooks/553BAB10-regression r notebook/1/s/crm3wtyn29edt/000002.csv
.Rproj.user/shared/notebooks/553BAB10-regression r notebook/1/s/cwrdvrf19sr62/000002.csv
.Rproj.user/shared/notebooks/553BAB10-regression r notebook/1/s/cxov9060qj7pt/000002.csv
.Rproj.user/shared/notebooks/553BAB10-regression r notebook/1/s/cy7yatprlidik/000002.csv
.Rproj.user/shared/notebooks/5CDE59F4-class-analysis r notebook/1/B96C75112BAE628C/chunks.json
.Rproj.user/shared/notebooks/5CDE59F4-class-analysis r notebook/1/B96C75115D595992/chunks.json
.Rproj.user/shared/notebooks/5CDE59F4-class-analysis r notebook/1/B96C751168253C3A/chunks.json
.Rproj.user/shared/notebooks/5CDE59F4-class-analysis r notebook/1/B96C751171EACAC9/chunks.json
.Rproj.user/shared/notebooks/5CDE59F4-class-analysis r notebook/1/B96C75119127CD28/chunks.json
.Rproj.user/shared/notebooks/5CDE59F4-class-analysis r notebook/1/B96C751197893BF5/chunks.json
.Rproj.user/shared/notebooks/5CDE59F4-class-analysis r notebook/1/B96C7511A5AD72FB/chunks.json
.Rproj.user/shared/notebooks/5CDE59F4-class-analysis r notebook/1/B96C7511D7254F03/chunks.json
.Rproj.user/shared/notebooks/5CDE59F4-class-analysis r notebook/1/B96C7511DDEDA107/chunks.json
.Rproj.user/shared/notebooks/5CDE59F4-class-analysis r notebook/1/B96C7511F4175F0D/chunks.json
.Rproj.user/shared/notebooks/5CDE59F4-class-analysis r notebook/1/s/c11013aua36qf/000002.csv
.Rproj.user/shared/notebooks/5CDE59F4-class-analysis r notebook/1/s/c143jp5hlblr9/000002.csv
.Rproj.user/shared/notebooks/5CDE59F4-class-analysis r notebook/1/s/c2312zt59yiwd/000004.csv
.Rproj.user/shared/notebooks/5CDE59F4-class-analysis r notebook/1/s/c38y34mudu43n/000002.csv
.Rproj.user/shared/notebooks/5CDE59F4-class-analysis r notebook/1/s/c3s22mvjfx7s4/000002.csv
.Rproj.user/shared/notebooks/5CDE59F4-class-analysis r notebook/1/s/cdv1bt5g3i1ve/000002.csv
.Rproj.user/shared/notebooks/5CDE59F4-class-analysis r notebook/1/s/cgojdw3jchx31/000002.csv
.Rproj.user/shared/notebooks/5CDE59F4-class-analysis r notebook/1/s/chunks.json
.Rproj.user/shared/notebooks/5CDE59F4-class-analysis r notebook/1/s/ci0jj0cri4rgu/000002.csv
.Rproj.user/shared/notebooks/5CDE59F4-class-analysis r notebook/1/s/clw4uwql7izi9/000002.csv
.Rproj.user/shared/notebooks/5CDE59F4-class-analysis r notebook/1/s/cmcj62xnwwi7d/000004.csv
.Rproj.user/shared/notebooks/5CDE59F4-class-analysis r notebook/1/s/cmo3xqoo5xlzc/000002.csv
.Rproj.user/shared/notebooks/5CDE59F4-class-analysis r notebook/1/s/cpk164g40vqep/00000c.csv
.Rproj.user/shared/notebooks/5CDE59F4-class-analysis r notebook/1/s/cpk164g40vqep/00000d.metadata
.Rproj.user/shared/notebooks/5CDE59F4-class-analysis r notebook/1/s/cpk164g40vqep/00000d.rdf
.Rproj.user/shared/notebooks/5CDE59F4-class-analysis r notebook/1/s/crxpiudk0erhu/000002.csv
.Rproj.user/shared/notebooks/5CDE59F4-class-analysis r notebook/1/s/cxqqy4x14o4al/000002.csv
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/B96C75112F63F70C/chunks.json
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/B96C75115D595992/chunks.json
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/B96C75116D99753C/chunks.json
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/B96C751171EACAC9/chunks.json
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/B96C751177BC4ADD/chunks.json
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/B96C751187AF66C4/chunks.json
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/B96C75119B62FECA/chunks.json
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/B96C7511A5AD72FB/chunks.json
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/B96C7511C52A5E9F/chunks.json
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/B96C7511DDEDA107/chunks.json
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/s/c0umw10qrvrl5/000004.csv
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/s/c0umw10qrvrl5/000005.metadata
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/s/c0umw10qrvrl5/000005.rdf
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/s/c6xsuc3hsv88b/000004.csv
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/s/c6xsuc3hsv88b/000005.metadata
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/s/c6xsuc3hsv88b/000005.png
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/s/c6xsuc3hsv88b/000005.snapshot
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/s/c7tgxwpptmdo3/000004.csv
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/s/c7tgxwpptmdo3/000005.metadata
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/s/c7tgxwpptmdo3/000005.png
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/s/c7tgxwpptmdo3/000005.snapshot
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/s/caew33o5g6pi0/000002.csv
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/s/cft1ty676q474/000002.csv
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/s/chr6ha5y8418u/000002.csv
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/s/chr6ha5y8418u/000003.metadata
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/s/chr6ha5y8418u/000003.rdf
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/s/chunks.json
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/s/crevy7lqolhft/000002.csv
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/s/cvtbum5eq07r3/000002.csv
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/s/cvtbum5eq07r3/000003.metadata
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/s/cvtbum5eq07r3/000003.rdf
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/s/cy7uhzxm9b2g8/000002.csv
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/s/cykish51h41uj/000002.csv
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/s/cykish51h41uj/000003.error
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/s/cykish51h41uj/000004.metadata
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/s/cykish51h41uj/000004.png
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/s/czgd8xq2g1dkh/000002.csv
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/s/czgd8xq2g1dkh/000003.metadata
.Rproj.user/shared/notebooks/8AB397C8-stats r notebook/1/s/czgd8xq2g1dkh/000003.rdf
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/B96C751197893BF5/chunks.json
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/B96C7511DDEDA107/chunks.json
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c08wdbnru57dd/000002.csv
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c08wdbnru57dd/000003.metadata
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c08wdbnru57dd/000003.rdf
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c0uc0aalyq8eb/000004.csv
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c0uc0aalyq8eb/000005.metadata
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c0uc0aalyq8eb/000005.rdf
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c0yrt4edws1gy/000002.csv
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c1fpxq47veq4b/000002.csv
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c1fpxq47veq4b/000004.csv
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c1fpxq47veq4b/000005.metadata
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c1fpxq47veq4b/000005.png
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c1fpxq47veq4b/000005.snapshot
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c2ukyehfcip1a/000002.csv
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c2ukyehfcip1a/000003.metadata
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c2ukyehfcip1a/000003.png
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c2ukyehfcip1a/000003.snapshot
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c4celndr7g13j/000002.csv
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c4celndr7g13j/000003.metadata
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c4celndr7g13j/000003.rdf
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c4hgohkufin0g/000002.csv
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c4hgohkufin0g/000003.metadata
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c4hgohkufin0g/000003.rdf
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c58phh9d7mdmd/000002.csv
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c600kg3wxaq1c/000002.csv
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c600kg3wxaq1c/000003.metadata
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c600kg3wxaq1c/000003.png
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c600kg3wxaq1c/000003.snapshot
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c74io17yqqz9b/000002.csv
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c74io17yqqz9b/000003.metadata
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c74io17yqqz9b/000003.png
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c74io17yqqz9b/000003.snapshot
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c7ga2qmffvzwa/000002.csv
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c8jisr6d75gan/000002.csv
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c9arg4ybjeem0/000002.csv
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c9bh060zjbrzk/000002.csv
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c9bh060zjbrzk/000003.metadata
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c9bh060zjbrzk/000003.rdf
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/c9k3gor6hi1vs/000002.csv
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/cdx7s2g5xg3bz/000004.csv
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/cf2le59ew1w3i/000002.csv
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/cf2le59ew1w3i/000003.metadata
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/cf2le59ew1w3i/000003.png
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/cf2le59ew1w3i/000003.snapshot
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/cfkgypnzjkbii/000006.csv
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/cfkgypnzjkbii/000007.metadata
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/cfkgypnzjkbii/000007.rdf
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/chunks.json
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/cisfofnda5o14/000002.csv
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/cl0fo2c8gij0u/000006.csv
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/cl0fo2c8gij0u/000007.metadata
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/cl0fo2c8gij0u/000007.rdf
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/cnbc2boy804yk/000002.csv
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/cp8m60h8lr9qb/000002.csv
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/cuq14q7gvd7g8/000004.csv
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/cuq14q7gvd7g8/000005.metadata
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/cuq14q7gvd7g8/000005.png
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/cuq14q7gvd7g8/000005.snapshot
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/cw5djm8c17au3/000002.csv
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/cw5djm8c17au3/000003.metadata
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/cw5djm8c17au3/000003.rdf
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/cxtslcv1f69mt/000002.csv
.Rproj.user/shared/notebooks/C925D7A-assumption testing r notebook/1/s/cyxn5q2gbg1lp/000002.csv
.Rproj.user/shared/notebooks/paths
.DS_Store
.Rproj.user/shared/notebooks/29423783-handout/1/s/chunks.json
.Rhistory
.RData
.RData
models.html
.Rproj.user/shared/notebooks/29423783-handout/1/s/chunks.json
.Rhistory
